<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/s.jpg" alt="" style="width: 100%; height: 65%; object-fit: cover;">
  </div>
  <div class="headings">
    <h2>Kudosware</h2>
    <h5 class="text-dark" style="font-family: cursive;">After 5 years in the industry, we decided to alter direction. Now, we share our passion by helping others. Our ramp-up process is designed to empower your team</h5>
  </div>
</header>

<div class="container bg-primary" style="width: 30%;">
  
</div>
<div class="container bg-primary" style="width: 30%;">
  
</div>
<div class="container bg-primary" style="width: 30%;">
  
</div>


<%- include('partials/footer'); -%>