<%- include('partials/header'); -%>
<div class="container d-flex justify-content-center" style="box-shadow: 0 0 2px black; height: 65vh; width: 80vw; padding: 30px;">
  <form action="" method="POST" style="width:50vw; min-width:300px;">
    <div>
      <label class="form-label">Email:</label>
      <input type="text" class="form-control" name="email" placeholder="name@example.com">
    </div>

    <div>
      <label class="form-label">Password:</label>
      <input type="password" class="form-control" name="password" placeholder="Enter your Password">
    </div>
    <div class="error" style="color: red;"></div>
    <button type="submit" class="btn btn-primary mt-5">Login</button>
  </form>
</div>

<script>
  const form = document.querySelector('form');
  const errorDiv = document.querySelector('.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    errorDiv.innerText = 'Incorrect email or password'; // Clear any previous error message

    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });
      const data = await res.json();

      if (data.error) {
        errorDiv.innerText = 'Incorrect password or email'; // Display the error message
      }

      if (data.user) {
        location.assign('/');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
<%- include('partials/footer'); -%>
