<%- include('partials/header'); -%>

<div>
  <div class="container d-flex justify-content-center fs-2 fw-bold shadow bg-secondary">
    Last step
  </div>
  <div class="container  d-flex justify-content-center mt-3">
    <div class="rounded h-25 w-25 ">
        <img src="profile.jpg" alt="Profile image" class="img-fluid rounded-circle mx-auto d-block">
    </div>
</div>
<div class="container row mt-4 mx-auto d-flex justify-content-center">
    <div class="container col float-start">
        <h5>GitHub</h5>
        <!-- <a href="#" class="btn shadow">Go</a> -->
    </div>
    <div class="container col float-end">
        <h5>Linkedin</h5>
        <!-- <a href="#" class="btn shadow">Go</a> -->
    </div>
    <form action="resume" enctype="multipart/form-data">
    <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-primary" onclick="document.getElementById('fileInput').click()">Upload Resume</button>
        <input type="file" id="fileInput" style="display: none"  required>
    </div>
    <div class="container d-flex justify-content-center mt-4">
      <a href="/" class="btn btn-primary" type="submit">Done</a>
    </div>
    </form>
</div>
  
</div>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const resume = form.resume.files[0];

    try {
      const formData = new FormData();
      formData.append('resume', resume);

      const res = await fetch('/resume', {
        method: 'POST',
        body: formData,
      });

      if (res.ok) {
        console.log('Resume uploaded and inserted in the database');
        location.assign('/');
      } else {
        console.log('Error uploading the resume');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>


<%- include('partials/footer'); -%>


